<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DataManager" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DAL.ORM.DataManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RemoteConnection" connectionString="Data Source=SQL5104.site4now.net;Initial Catalog=db_a72f97_vms;User Id=db_a72f97_vms_admin;Password=Qwerty_1029384756" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>